.register-page {
  display: flex;
  justify-content: center;
  padding: 64px 0;

  &__card {
    max-width: 400px;
    width: 100%;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__error {
    margin-bottom: 16px;
  }

  &__submit {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  &__footer {
    text-align: center;
    margin-top: 15px !important;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}

